@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap') ;

@font-face {
  font-family: Star;
  src: url('./fonts/Strjmono.ttf');
}

body {
  background-image: url('./images/black-galaxy.jpg');
  background-size: cover;
}

h1 {
  font-family: Star , Times , serif;
}

label {
  font-family: Secular One , sans-serif;
}

